<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Tracker</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1>Welcome to the Character Tracker</h1>
    <a href="/character/new">If you dont have and account click here</a>
</body>
</html>